.prices{
    font-size: 10px;
}
.text-input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 10px;
    .text-input {
        color: gray;
        font-size: inherit;
        margin-top: 1px;
        width: 40%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        .number-input {
            font-size: inherit;
            margin-left: 5px;
            width: 60%;
            min-width: 30px;
            border-radius: 7px;
            border: 1px gray solid;
            text-align: center;
            background-color: transparent;
        }
    }
}
.prices {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.slider{
    width: 90%;
    background-color: transparent;
}
