<header class="header" [ngClass]="{
    'authed': userQuery.isAuthed,
    'unauthed': !userQuery.isAuthed
  }">
    <app-logo-headline [RedirectToHome]="true" class="headline-logo"/>
    <ng-container *ngIf="userQuery.isAuthed && currentRoute != '/login'">
        <div class="buttons-container">
            <a class="nav-button" [attr.name]="button.name" [routerLink]="button.route" *ngFor="let button of buttons">
                {{ button.name }}
            </a>
        </div>

        <div class="cart-button">
            <div class="cart-button-text">My Cart</div>
            <img class="cart-button-image" src="assets/images/shopping-cart.svg" />
        </div>
    </ng-container>
</header>

