
.shoe{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 11px;
    .shoe-image{
        width: clamp(70px,70%,200px);
    }
    .shoe-details{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        .shoe-name{
            width: 100%;
            height: 20px;
            line-height: 15px;
        }
    }
    .shoe-details > *{
        margin-bottom: 10px;
    }
}