<div class="dynamic-form-container">
    <h2>{{title}}</h2>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <p [ngClass]="{
            'success' : success,
            'fail' : !success,
        }" *ngIf="messsage != ''">{{messsage}}</p>
        <div *ngFor="let input of inputFilleds">
            <label>{{input.title}}</label>
            <input [(ngModel)]="input.value"
                   placeholder={{input.placeholder}} 
                   pattern={{input.pattern}}
                   name={{input.title}}
                   [required]="input.required"
                   />
        </div>
        <button type="submit" [disabled]="f.invalid">Submit</button>
    </form>
</div>