.main > *{
    border-bottom: 2px solid #d5d1cf;
    padding-bottom: 50px;
    width: 100%;
}
.main>*:last-child {
    border-bottom: 0;
}
.newest-shoe-container{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .buy-new-shoes{
        width: 35%;
        margin-bottom: 50px;
        .buy-new-shoes-headline{
            font-size: 30px;
            font-weight: bold;
            white-space: nowrap;
        }
        .buy-new-shoes-text{
            font-size: 15px;
        }
        .buy-new-shoes-button{
            width: 50%;
            font-size: 15px;
            padding: 5px 6px;
            max-width: 100px;
            box-sizing: border-box;
            white-space: nowrap;
        }
    }
    .buy-new-shoes > *{
        margin-top: 15px;
    }
    .newest-shoe-headline{
        transform: rotate(-90deg);
            transform-origin: right bottom;
            font-size: 37px;
            font-weight: bold;
            color: #333;
            display: inline-block;
            width: 200px;
            position: absolute;
            bottom: 270px;
            right: 0;
        }
    .newest-shoe-image{
        transform: scaleX(-1) scale(1.4);
        width: 30%;
        max-width: 300px;
        object-fit: cover;
        margin-right: 105px;
        transform-origin: center;
    }
}
.top-picks-container{
    .top-picks-header{
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .top-picks-header-image{
            height: 30px;
            transform: rotate(45deg);
            object-fit: contain;
        }
        .top-picks-header-headline{
            font-weight: bold;
        }
        .top-picks-view-all {
            margin-left: auto;
            cursor: pointer;
            font-size: 12px;
        }
        .top-picks-view-all:hover {
            transform: scale(1.1);
        }
    }
    .shoes-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        .shoe-card{
            width: 20%;
        }
    }
}
.about{
    margin-top: 80px;
    margin-left: 20px;
    height: 250px;
    display: flex;
    justify-content: center;    
    align-items: center;
    .headline-logo{
        display: flex;
        justify-content: flex-start;
    }
    .about-data{
        width: 37%;
        font-size: 11px;
        max-width: 400px;
        margin-bottom: 100px;
        margin-right: 7%;
    }
    .about-shoe-wrapper{
        width: 40%;
        max-width: 400px;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    .about-shoe{
        width: 100%;
    }
}