<div class="cart-container">
    <div class="header">
        <div class="title">Your bag</div>
        <div class="total">
            <div class="total-text">Total:</div>
            <div class="price">{{inventory.length}} items ({{cartSum}}$)</div>
        </div>
    </div>
    <div class="checkout-container">
        <div class="shoes-container">
            <div *ngIf="inventory.length == 0" class="empty-cart">There is nothing in your cart...</div>
            <app-wide-shoe-card
                (remove)="onRemove($event)"
                class="shoe"
                *ngFor="let cartShoe of inventory"
                [shoe]="cartShoe.type"
                [size]="cartShoe.size"
                [isSoldOut]="!cartShoe.inStock"
                />
        </div>
        <app-order-summery [disabled] = "isCartValid" *ngIf="cartQuery.cartSize != 0" (checkoutReponse)="onCheckoutResponse($event)"/>
    </div>
    <app-top-picks/>
    <app-checkout-message (closeMessage)="onMessageClose()" *ngIf="checkoutReponse != null" [checkoutResponse]="checkoutReponse" />
</div>

<ng-template #RemoveItems>
    <div class="remove-items-message">please remove all sold out items from the cart to proceed</div>
</ng-template>