.cart-container{
    .header{
        .title{
            font-size: 20px;
            font-weight: bold;
        }
        .total{
            display: flex;
            flex-wrap: nowrap;
            .total-text{
                color: gray;
                margin-right: 5px;
            }
        }
    }
    .checkout-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        .shoes-container{
            flex: 1.2;
            width: 70%;
            min-width: 300px;
            .empty-cart{
                margin-top: 20px;
                font-size: 20px;
            }
            .shoe{
                margin-top: 20px;
                width: 100%;
                height: 150px;
            }
        }
        app-order-summery{
            flex: 1;
        }
        .remove-items-message{
            flex: 1;
            text-align: center;
            margin-top: 100px;
            font-size: 16px;
            font-weight: bold;
        }
        app-checkout-message{
            width: 100%;
            height: 100%;
        }
    }
}
