<div class="shoe-name">{{title}}</div>
<div class="rating">
    <img class="favorite-icon" src="assets/images/Five_Pointed_Star_Solid.svg" />
    <div class="rating-score">{{shoe.rates.rank}}/5</div>
</div>
<app-sizes 
[sizes] = "sizes"
(cancel)="onCancel()"
(sizeChose)="addShoeToCart($event)"
*ngIf="pressed;else notPressed"/>
<div [class.shop-price] = "location == 'shop'" class="price">{{shoe.price}}$</div>

<ng-template #notPressed>
    <div (click)="onAddClick()" class="button light-button add-button">
        Add <div class="plus">+</div>
    </div>
</ng-template>