:host{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.order-summery{
    margin-top: 150px;
    width: 90%;
    margin-left: 10%;
    .order-headline{
        font-weight: bold;
    }
    .checkout-button{
        margin-top: 15px;
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        padding: 5px 0;
        font-size: 15px;
    }
    .checkout-button-disabled{
        pointer-events: none;
        opacity: .9;
    }
}