:host{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.order-summery{
    margin-top: 150px;
    width: 90%;
    margin-left: 10%;
    .order-headline{
        font-weight: bold;
    }
}