.headline-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    .headline-logo {
        width: 40px;
        object-fit: contain;
    }
    .headline-text {
        font-size: 20px;
        font-weight: bolder;
    }
}