.loading{
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 50%;
    left: 50%;
}
.shop-container{
    overflow: visible;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .items-container{
        flex: 1;
        overflow: visible;
        margin-top: 20px;
        .items-header{
            width: 100%;
            overflow: visible;
            .items-headline {
                font-weight: bold;
                font-size: 25px;
            }
            .items-header-top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 13px;
                margin-top: 10px;
                width: 100%;
                overflow: visible;
                .sort{
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: nowrap;
                    overflow: visible;
                    .select-label{
                        display: inline;
                        margin-top: 4px;
                        margin-right: 10px;
                        text-overflow: ellipsis;
                    }
                    .sort-select{
                        height: 30px;
                        width: 120px;
                        padding: 0 5px;
                        font-size: 14px;
                        cursor: pointer;
                        box-sizing: border-box;
                        background: none;
                        border-radius: 5px;
                        border-color: gray;
                        color: gray;
                        text-overflow: ellipsis;
                        option{
                            background-color: #fbf7f6;
                            border: 1px black;                            
                            overflow: visible;
                            cursor: pointer;
                        }
                        .default-option{
                            display: none;
                        }
                    }
                }
            }
            .items-headline-bottom{
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                .filter-tag{
                    margin-right: 5px;
                    padding: 5px 7px;
                    color: gray;
                    background-color: white;
                    border-radius: 7px;
                    cursor: default;
                    display: flex;
                    flex-wrap: nowrap;
                    .x{
                        font-size: 9px;
                        margin-top: 2.5px;
                        margin-left: 10px;
                        cursor: pointer;
                    }
                    .x:hover{
                        font-weight: bold;
                    }
                }
                .clear-all{
                    color: gray;
                    font-size: 11px;
                    cursor: pointer;
                    text-decoration: underline;
                }
                .clear-all:hover{
                    font-weight: bold;
                }
            }
        }
        .shoes-container {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
            .shoe {
                width: 31%;
                margin: 1%;
            }
            .empty-message{
                width: 100%;
                text-align: center;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
    app-shop-sidebar {
        display: inline-block;
        width: 30%;
        margin-right: 40px;
        max-width: 250px;
    }
}
@media (max-width: 750px) {
    .shop-container {
        .items-container {
            .shoes-container {
                .shoe {
                    width: 45%;
                }
            }
        }
    }
}