:host{
    display: block;
}
.shoe-card{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding:20px 0;
    box-sizing: border-box;
    font-size: 11px;
    .image-wrapper{
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: clamp(120px,50%,200px);
        height: 100%;
        .shoe-image{
            width: 100%;
        }
    }
    .shoe-details{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 30%;
        .details-header{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 5px;
            font-size: 14px;
            .shoe-name{
                width: 100%;
                height: 20px;
                line-height: 15px;
                font-weight: bold;
            }
            .x{
                color: gray;
                cursor: pointer;
            }
        }
        .price{
            margin-top: 30px;
            margin-left: 70%;
            color: #e46464;
            font-size: 18px;
        }
    }
    .shoe-details > *{
        margin-bottom: 5px;
    }
}